Nathan Goldbaum <ngoldbau@illinois.edu> Nathan Goldbaum <ngoldbau@ucsc.edu>
Nathan Goldbaum <ngoldbau@illinois.edu> Nathan Goldbaum <goldbaum@ucolick.org>
Kacper Kowalik <xarthisius.kk@gmail.com> Kacper Kowalik (Xarthisius) <xarthisius.kk@gmail.com>
Kyle Sunden <sunden@wisc.edu> ksunden <sunden@wisc.edu>
Kyle Sunden <sunden@wisc.edu> Kyle Sunden <ksunden@users.noreply.github.com>
John ZuHone <jzuhone@gmail.com> jzuhone <none@none>
Ricarda Beckmann <ricarda.beckmann@astro.ox.ac.uk> RicardaBeckmann <ricarda.beckmann@astro.ox.ac.uk>
