minimum_pre_commit_version: 1.15.0

ci:
    autofix_prs: false
    autoupdate_schedule: monthly

exclude: "^(\
    paper/.*.py\
    )"

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: trailing-whitespace
          - id: end-of-file-fixer
          - id: no-commit-to-branch
          - id: check-shebang-scripts-are-executable
          - id: check-executables-have-shebangs
          - id: check-yaml
          - id: check-toml

    # TODO: replace this with ruff when it supports embedded python blocks
    # see https://github.com/astral-sh/ruff/issues/8237
    - repo: https://github.com/adamchainz/blacken-docs
      rev: 1.19.1
      hooks:
          - id: blacken-docs
            additional_dependencies: [black==24.10.0]

    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.11.8
      hooks:
          - id: ruff-format
          - id: ruff
            args: [--fix, --show-fixes]

    - repo: https://github.com/pre-commit/pygrep-hooks
      rev: v1.10.0
      hooks:
          - id: rst-backticks

    - repo: https://github.com/codespell-project/codespell
      rev: v2.4.1
      hooks:
          - id: codespell
            args: [--skip="*.pdf", -L, 'smoot,copin,celcius,ue,bu,dne,ond']
