name: CI (bleeding edge)
# this workflow is heavily inspired from pandas, see
# https://github.com/pandas-dev/pandas/blob/master/.github/workflows/python-dev.yml

# check stability against dev version of Python, numpy, and matplotlib
# and sympy pre-releases (but avoid pre-releases of sympy's dependencies)

on:
  push:
    branches:
      - master
  pull_request:
    paths:
      - .github/workflows/bleeding-edge.yaml
  # Run every Wednesday at 0:01 UTC
  schedule:
    - cron:  1 0 * * 3
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: CPython-dev
    timeout-minutes: 60

    concurrency:
      group: ${{ github.ref }}-dev
      cancel-in-progress: true

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Setup Python
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
        with:
          python-version: '3.14'
          enable-cache: false

      - name: Configure uv
        run: |
          echo "UV_PRERELEASE=allow" >> "$GITHUB_ENV"
          echo "UV_INDEX=https://pypi.anaconda.org/scientific-python-nightly-wheels/simple" >> "$GITHUB_ENV"
          echo "UV_INDEX_STRATEGY=unsafe-best-match" >> "$GITHUB_ENV"

      - run: uv sync --group test
      - name: Run tests
        run: uv run --no-sync pytest -vvv unyt
