name: CI (bleeding edge)
# this workflow is heavily inspired from pandas, see
# https://github.com/pandas-dev/pandas/blob/master/.github/workflows/python-dev.yml

# check stability against dev version of Python, numpy, and matplotlib
# and sympy pre-releases (but avoid pre-releases of sympy's dependencies)

on:
  push:
    branches:
      - master
  pull_request:
    paths:
      - .github/workflows/bleeding-edge.yaml
  # Run daily at 0:01 UTC
  schedule:
    - cron:  '1 0 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Python3.12-dev
    timeout-minutes: 60

    concurrency:
      group: ${{ github.ref }}-dev
      cancel-in-progress: true

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Set up Python Dev Version
      uses: actions/setup-python@v5
      with:
        python-version: '3.12-dev'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install --upgrade setuptools wheel setuptools_scm
        python -m pip install --pre numpy --only-binary ":all:" --extra-index \
          https://pypi.anaconda.org/scientific-python-nightly-wheels/simple
        python -m pip install pytest
        python -m pip install sympy
        python -m pip install --no-deps --upgrade --pre sympy

    - name: Build unyt
      run: python -m pip install --no-build-isolation .

    - run: python -m pip list

    - name: Run Tests
      run: pytest -vvv unyt/
