name: CI

on:
  push:
    branches:
    - master
  pull_request:
  schedule:
    - cron:  '1 0 * * *'
  workflow_dispatch:


jobs:
  test:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.6, 3.7, 3.8, 3.9]
        # Test all on ubuntu, test ends on macos and windows
        exclude:
          - os: macos-latest
            python-version: 3.7
          - os: macos-latest
            python-version: 3.8
          - os: windows-latest
            python-version: 3.7
          - os: windows-latest
            python-version: 3.8


    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Tox and any other packages
        run: |
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install tox tox-pyenv coverage
      - name: Run Tox
        # Run tox using the version of Python in `PATH`
        run: tox -e py -vvv

      - name: Report coverage with Codecov
        if: github.event_name == 'push' && matrix.python-version == 3.9 && matrix.os == 'ubuntu-latest'
        uses: codecov/codecov-action@v1
        with:
          # token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml
          flags: unittests
