name: CI

on:
  push:
    branches:
    - master
  pull_request:
  schedule:
    - cron:  '1 0 * * *'
  workflow_dispatch:


jobs:
  test:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version:
          - '3.9'
          - '3.10'
          - '3.11'
          - '3.12'
        # Test all on ubuntu, test ends on macos and windows
        include:
          - os: macos-latest
            python-version: '3.9'
          - os: windows-latest
            python-version: '3.9'
          - os: macos-latest
            python-version: '3.12'
          - os: windows-latest
            python-version: '3.12'


    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Tox and any other packages
        run: |
          python -m pip install --upgrade pip
          python -m pip install tox tox-gh-actions
      - name: Test
        run: tox -vvv
