name: CI

on:
  push:
    branches:
    - master
  pull_request:
  schedule:
    - cron:  '1 0 * * *'
  workflow_dispatch:


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Setup Python
        uses: astral-sh/setup-uv@v7.1.6
        with:
          python-version: '3.14'
          enable-cache: false
      - run: uv build

  unyt-module-test-function:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - uses: actions/checkout@v6
      - name: Setup Python
        uses: astral-sh/setup-uv@v7.1.6
        with:
          python-version: '3.14'
          enable-cache: false
      - run: uv run --group test python -c "import unyt ; unyt.test()"

  test:
    runs-on: ${{ matrix.os }}
    needs: [build]
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version:
          - '3.10'
          - '3.11'
          - '3.12'
          - '3.13'
          - '3.14'
        sync-args: [null]
        pytest-args: [null]
        label: [null]

        # Test all on ubuntu, test ends on macos and windows
        include:
          - os: macos-latest
            python-version: '3.10'
            sync-args: null
            pytest-args: null
            label: null
          - os: windows-latest
            python-version: '3.10'
            sync-args: null
            pytest-args: null
            label: null
          - os: macos-latest
            python-version: '3.14'
            sync-args: null
            pytest-args: null
          - os: windows-latest
            python-version: '3.14'
            sync-args: null
            pytest-args: null
            label: null

          # with integration deps
          - os: ubuntu-latest
            python-version: '3.14'
            sync-args: --group integration
            pytest-args: null
            label: integration

          # with lowest dependencies
          - os: ubuntu-22.04
            python-version: '3.10.0'
            sync-args: --resolution=lowest --group integration
            pytest-args: null
            label: oldestdeps

          # with doctests
          - os: ubuntu-latest
            python-version: '3.10'
            sync-args: --group doc
            pytest-args: --doctest-modules --doctest-plus
            label: doctests

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Setup Python
        uses: astral-sh/setup-uv@v7.1.6
        with:
          python-version: ${{ matrix.python-version }}
          enable-cache: false
      - name: Install test env
        run: uv sync --group covcheck ${{ matrix.sync-args }}
      - name: Run tests
        shell: bash # for windows compat
        run: |
          uv run --no-sync coverage run --parallel-mode -m \
            pytest --color=yes ${{ matrix.pytest-args }}

      - name: Upload coverage data
        # only using reports from ubuntu because
        # combining reports from multiple platforms is tricky
        if: startsWith( matrix.os , 'ubuntu' )
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: unyt_coverage_data-${{matrix.os}}-${{matrix.python-version}}-${{matrix.label}}
          path: .coverage.*
          if-no-files-found: ignore
          include-hidden-files: true

  coverage:
    name: Combine & check coverage.
    runs-on: ubuntu-latest
    needs: [test]

    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      with:
        fetch-depth: 0
        persist-credentials: false
    - uses: astral-sh/setup-uv@702b425af1c366e68b4a9449a8de6dd98b63e979 # v6.8.0
      with:
        python-version: '3.14'
        enable-cache: false

    - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        pattern: unyt_coverage_data-*
        merge-multiple: true

    - name: Check coverage
      run: |
        uv tool install coverage
        coverage combine
        coverage html --skip-covered --skip-empty
        coverage report --skip-covered --format=markdown >> "$GITHUB_STEP_SUMMARY"
        coverage report --fail-under=99

    - name: Upload HTML report
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: unyt_coverage_report
        path: htmlcov

  docs:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Setup Python
        uses: astral-sh/setup-uv@v7.1.6
        with:
          python-version: '3.10'
          enable-cache: false
      - run: uv sync --group doc --group test
      - name: Build docs
        run: |
          uv run --no-sync --directory=docs \
            python -m sphinx -M html "." "_build" -W
      - name: Upload build
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: unyt_docs
          path: docs/_build/html
          if-no-files-found: error
