name: Publish to PyPI
on:
  push:
    tags: v*
  pull_request:
    paths:
    - .github/workflows/publish.yml

jobs:
  pypi-publish:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/unyt
    permissions:
      id-token: write
    steps:
    - name: Checkout Source
      uses: actions/checkout@v6
    - name: Setup Python
      uses: astral-sh/setup-uv@v7.1.6
      with:
        python-version: '3.14'
        enable-cache: false
    - name: Build distributions
      run: uv build
    - name: Publish package distributions to PyPI
      if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
      uses: pypa/gh-action-pypi-publish@release/v1
